:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
}

.form-input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  transition: border 250ms ease, color 250ms ease;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}

.form-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;


  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.loader {
  font-size: 48px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4e75ff;
  ;
  box-sizing: border-box;
  animation: spotlight 2s linear infinite alternate;
}

@keyframes spotlight {

  0%,
  20% {
    opacity: 1;
    letter-spacing: 2px;
  }

  80%,
  100% {
    opacity: 0;
    letter-spacing: 32px;
  }
}

.hidden {
  display: none;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 16px auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gallery-link {
  height: 150px;
  display: block;
}

.gallery-image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 8px;
}


.info-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-item span {
  font-weight: 600;
}

.iziToast>.iziToast-body .iziToast-icon {
  display: none !important;
}

.iziToast>.iziToast-body {
  margin-left: 0 !important;
}

.loader-container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.load-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
}
